body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

::-webkit-scrollbar {
    border: 0px solid white;
    border-radius: 50%;
    width: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 1rem;
    cursor: pointer !important;
}
